@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    transition: none;
  }

  .sidebar.close {
    width: 100%;
  }

  .sidebar .logo-details {
    justify-content: center;
  }

  .sidebar .nav-links,
  .sidebar.close .nav-links {
    padding: 20px 0;
  }

  .sidebar .nav-links li,
  .sidebar .nav-links li:hover {
    background: none;
  }

  .sidebar .nav-links li a {
    text-align: center;
  }

  .sidebar .profile-details,
  .sidebar.close .profile-details {
    position: relative;
    width: 100%;
    padding: 20px 0;
    justify-content: center;
  }

  .home-section {
    left: 0;
    width: 100%;
    /* width: 100vh; */
  }

  .sidebar.close ~ .home-section {
    /* left: 100; */
    width: 100%;
  }
}
